<header class="banner">
  <div class="banner__img">
    <div class="banner__img__item"></div>
  </div>
  <div class="container flex flex-col justify-end h-full pb-24 xl:pl-26" data-aos="fade-right" data-aos-delay="3000">
    <h2 class="text-white text-4xl font-bold leading-4xl mb-6">台北當代藝術展
      <br>
      <span class="text-lg leading-xl block mt-2">01 JUN - 31 OCT</span>
    </h2>
    <div class="grid grid-cols-6 gap-5 md:flex">
      <div class="col-span-3 flex md:mr-3">
        <a href="./product_detail.html" class="btn btn-primary-light hover-telesto-primary w-full px-20 py-3">
          <span><span>購買票券</span></span></a>
      </div>
      <div class="col-span-3 flex">
        <a href="./product_detail.html"
          class="btn btn-outline-white hover-telesto-white w-full px-20 py-3"><span><span>詳細資訊</span></span></a>
      </div>
    </div>
  </div>
</header>