<header class="banner">
  <div class="banner__img">
    <div class="banner__img__item"></div>
  </div>
  <div class="container flex flex-col justify-end h-full pb-24 xl:pl-26" data-aos="fade-right" data-aos-delay="3000">
    <h2 class="text-white text-4xl font-bold leading-4xl mb-6">台北當代藝術展
      <br>
      <span class="text-lg leading-xl block mt-2">01 JUN - 31 OCT</span>
    </h2>
    <div class="flex gap-x-4 md:gap-x-2">
      <a href=" #" class="w-1/2 md:w-auto btn btn-primary-light hover-telesto-primary px-20 py-3">
        <span><span>購買票券</span></span></a>
      <a href="#"
        class="w-1/2 md:w-auto btn btn-outline-white hover-telesto-white px-20 py-3"><span><span>詳細資訊</span></span></a>
    </div>
  </div>
</header>

<!-- <header class="banner">
  <div class="container flex flex-col justify-end h-full pb-24 xl:pl-26" data-aos="fade-right" data-aos-delay="500">
    <h2 class="text-white text-4xl font-bold leading-4xl mb-6">台北當代藝術展
      <br>
      <span class="text-lg leading-xl block mt-2">01 JUN - 31 OCT</span>
    </h2>
    <div class="flex gap-x-4 md:gap-x-2">
      <a href=" #" class="w-1/2 md:w-auto btn btn-primary-light hover-telesto-primary px-20 py-3">
        <span><span>購買票券</span></span></a>
      <a href="#"
        class="w-1/2 md:w-auto btn btn-outline-white hover-telesto-white px-20 py-3"><span><span>詳細資訊</span></span></a>
    </div>
  </div>
</header> -->