<!-- 猜你也喜歡... -->
<section class="container mb-10 md:my-22">
    <h3 class="text-4xl leading-4xl font-bold mb-2 md:mb-10" data-aos="fade-right">猜你也喜歡...</h3>
    <!-- Swiper -->
    <!-- Slider main container -->
    <div class="swiper-container js-swipwer-product" data-aos="zoom-in">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper flex-col md:flex-row">
            <!-- Slides -->
            <li class="swiper-slide mb-6" data-aos="zoom-in">
                <a href="./product_detail.html" class="hover-zoom-out-reflective block">
                    <img class="introImg mb-2 md:mb-1" src="./assets/images/img04.jpg">
                    <h4 class="text-lg font-bold leading-xl mb-1">No.22 線上設計展</h4>
                    <h5 class="text-lg leading-xl">$350</h5>
                </a>
            </li>
            <li class="swiper-slide mb-6" data-aos="zoom-in">
                <a href="./product_detail.html" class="hover-zoom-out-reflective block">
                    <img class="introImg mb-2 md:mb-1" src="./assets/images/img05.jpg">
                    <h4 class="text-lg font-bold leading-xl mb-1">No.22 線上設計展</h4>
                    <h5 class="text-lg leading-xl">$350</h5>
                </a>
            </li>
            <li class="swiper-slide mb-6" data-aos="zoom-in">
                <a href="./product_detail.html" class="hover-zoom-out-reflective block">
                    <img class="introImg mb-2 md:mb-1" src="./assets/images/img06.jpg">
                    <h4 class="text-lg font-bold leading-xl mb-1">No.22 線上設計展</h4>
                    <h5 class="text-lg leading-xl">$350</h5>
                </a>
            </li>
            <li class="swiper-slide mb-6" data-aos="zoom-in">
                <a href="./product_detail.html" class="hover-zoom-out-reflective block">
                    <img class="introImg mb-2 md:mb-1" src="./assets/images/img07.jpg">
                    <h4 class="text-lg font-bold leading-xl mb-1">No.22 線上設計展</h4>
                    <h5 class="text-lg leading-xl">$350</h5>
                </a>
            </li>
            <li class="swiper-slide mb-6" data-aos="zoom-in">
                <a href="./product_detail.html" class="hover-zoom-out-reflective block">
                    <img class="introImg mb-2 md:mb-1" src="./assets/images/img08.jpg">
                    <h4 class="text-lg font-bold leading-xl mb-1">No.22 線上設計展</h4>
                    <h5 class="text-lg leading-xl">$350</h5>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- 訂閱 -->
<section class="subscription">
    <div class="container flex flex-col justify-end h-full" data-aos="fade-right" data-aos-delay="300">
        <label for="subscription"
            class="font-bold text-4xl leading-4xl text-white mb-9 md:mb-4">想收到展覽的最新消息嗎？<br>快訂閱我們！</label>
        <div class="input-group flex mb-15">
            <input type="email" id="subscription" placeholder="輸入您的電子信箱"
                class="border border-secondary-200 rounded-l text-secondary-600 p-4">
            <button type="submit"
                class="btn btn-primary-light border border-primary-light hover:border-primary rounded-l-none hover-telesto-primary py-4 px-15 md:px-21"><span><span>訂閱</span></span></button>
        </div>
    </div>
</section>
<footer class="bg-white py-6 md:py-12" data-aos="fade-up">
    <div class="container md:flex">
        <a href="./index.html" class="text-secondary-600 hover:text-black text-xl mr-4">EXHIBINECTION</a>
        <h6 class="text-secondary-600">© 2020. All Rights Reserved.</h6>
    </div>
</footer>