// 載入
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: NotoSansCJKtc;
    src: local("Noto Sans CJK TC Light"),
        local("NotoSansCJKtc-Light"),
        url("../fonts/NotoSansCJKtc-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: NotoSansCJKtc;
    src: local("Noto Sans CJK TC Regular"),
        local("NotoSansCJKtc-Regular"),
        url("../fonts/NotoSansCJKtc-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: NotoSansCJKtc;
    src: local("Noto Sans CJK TC Medium"),
        local("NotoSansCJKtc-Medium"),
        url("../fonts/NotoSansCJKtc-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: NotoSansCJKtc;
    src: local("Noto Sans CJK TC Bold"),
        local("NotoSansCJKtc-Bold"),
        url("../fonts/NotoSansCJKtc-Bold.otf") format("opentype");
    font-weight: 700;
}



// HTML
*:focus {
    outline: none !important;
}

body {
    font-family: 'Robot', 'NotoSansCJKtc', sans-serif;
    @apply overflow-x-hidden leading-base font-normal; // line-height:24px;
}

a {
    @include hover-linear(300ms);
}

button {
    @include hover-linear(300ms);
}

input {
    -webkit-appearance: none; // Safari 和 Chrome，於 iOS 移除內建樣式
    -moz-appearance: none; // Firefox
    appearance: none;
}

input[type="submit"] {
    @apply cursor-pointer;
    @include hover-linear(300ms);
}