.hotImg {
    @include img-cover(345px);

    @screen md {
        height: 350px;
    }
}

.introImg {
    @include img-cover(320px);

    @screen md {
        height: 250px;
    }

    @screen lg {
        height: 350px;
    }
}

.reviewBg {
    @include bg-cover("../images/reviewImg.jpg", 482px);
}

.avatarImg {
    @include img-cover(128px);
    width: 128px;
}