.detail {
    height: 256px;
}

.detailBanner {
    height: 400px;
}

.detailImg {
    height: 559px;
}

.cart {
    top: 55px;
    width: 100vw;
    transform: translateX(100%);
    @include hover-linear(300ms);

    @screen md {
        top: 80px;
        width: 540px;
    }

    &--toggle {
        transform: translateX(0);
        @include hover-linear(300ms);
    }

    &__list {
        height: calc(100% - 231px);
        @apply overflow-y-auto;

        &::-webkit-scrollbar {
            width: 3px;
            @apply bg-secondary-100 rounded;
        }

        &::-webkit-scrollbar-thumb {
            @apply bg-primary-light rounded;
        }
    }

    &__img {
        width: 120px;
        height: 120px;

        @apply object-cover;
    }
}