// nav logo:hover (光澤效果)
.logo {
    width: 164px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        width: 20px;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        transform: skewX(45deg) translateX(120px);
        transition: 0s;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 20px;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        transform: skewX(45deg) translateX(-120px);
        transition: 0s;
    }

    &:hover::before {
        transform: skewX(45deg) translateX(-120px);
        transition: .5s;
    }

    &:hover:after {
        transform: skewX(45deg) translateX(120px);
        transition: .5s;
    }
}



// a:hover (背景色往右效果)
.hover-telesto-primary {
    @include hover-telesto(theme('colors.primary.default'));
}

.hover-telesto-primary-light {
    @include hover-telesto(theme('colors.primary.light'));
}

.hover-telesto-primary-dark {
    @include hover-telesto(theme('colors.primary.dark'));
}

.hover-telesto-white {
    @include hover-telesto(theme('colors.white'));
}



// img a:hover (半透明黑色往右效果)
.hover-telesto-black-translucent {
    @include hover-telesto(rgba(0, 0, 0, 0.5));

    &>span>span {
        @apply opacity-0;
    }

    &:hover>span>span {
        @apply opacity-100;
        transition: opacity 0.1s 0.2s;
    }
}



// nav a:hover (光澤效果)
.hover-reflective {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        transform: skewX(45deg) translateX(100px);
        transition: 0s;
    }

    &:hover::before {
        transform: skewX(45deg) translateX(-100px);
        transition: .6s;
    }
}



// navbar a:hover (底線效果)
.hover-border-bottom {
    &::before {
        content: '';
        width: 0;
        height: 2px;
        @apply bg-primary-light absolute block;
        bottom: -2px;
        left: 50%;
        @include hover-linear(100ms);
        transform: translateX(-50%);
    }

    &:hover::before {
        width: 100%;
    }
}



// swiperCard a:hover
.hover-zoom-out-reflective {
    @include hover-linear(300ms);
    @apply overflow-hidden;

    &:hover {
        transform: scale(.9);
        @include hover-linear(300ms);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        box-shadow: 0 0 60px 60px rgba(255, 255, 255, 0.1);
        transform: skewX(45deg) translateX(250px);
        transition: 0s;
    }

    &:hover::before {
        transform: skewX(45deg) translateX(-600px);
        transition: .4s;
    }
}



// 文字縮排
.text-indent {
    text-indent: 2rem;
}