// input + btn
.input-group {
    input {
        width: 170px;
        -webkit-appearance: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        @screen md {
            width: auto;
        }
    }

    button {
        transform: translateX(-5px);
    }
}